@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;       /* or a fixed color like #007bff */
  text-decoration: none; /* optional: removes underline */
}